.RightCurveThings{
    position: absolute;
    right: 3%;
    top: 65%;
    z-index: -1;
    
    
}

.stone {
    position: absolute;
    right: -100px;
    top: -20px;
}

.circle {
    position: absolute;
    right: 130px;
    top: 200px;
}

.cylinder {
    position: absolute;
    right: -50px;
    bottom: -100px;
}

.backgroundItems {
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: -2;
}


.FfthScreenCurveThingsMobile{
    position: absolute;
    left: -27px;
    top: -55px;
    z-index: 2;

    svg {
        width: 100%;
        height: 801px;
        
    }

    @media (width <= 359px) {
        left: -35px;
        top: -23px;
    }

    @media (width <= 350px) {
        
    }

    

    @media (width >= 624px) {
        display: none;
    }
}