.mySwiper{
    margin: 0 auto;
    max-width: 1518px;

    @media (width <= 1518px) {
        max-width: 1151px;
    }

    @media (width <= 1024px) {
        padding: 0 calc((100% - 900px) / 2);
        max-width: 100%;
    }

    @media (width <= 900px) {
        padding: 0 calc((100% - 720px) / 2);
    }

}



.navigation{
    &__buttons{
        display: flex;
        align-self: flex-start;
        justify-content: space-between;
        margin-top: 45px;
        width: 160px;

        @media (width <= 425px) {
            margin-top: 25px;
            width: 130px;
        }
    }
}

.buttons{
    &__back {
        left: 100px;
    }

    &__next {
        right: 100px;
    }
}
