.slide {
    height: 500px;

    @media (width <= 1024px) {
        height: 350px;
    }

    @media (width <= 425px) {
        height: 200px;
    }
}

.iframe {
    border: none;
    width: 100%;
    height: 100%;
}