.sliderWrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: var(--top-slider-card-height);
    max-width: calc(var(--top-slider-card-width) * 2);

    @media (width <= 768px) {
        align-items: flex-end;
    }
}

.back, .next {
    position: absolute;
    z-index: 3;
    flex-shrink: 0;
}

.back {
    left: 100px;

    @media (width <= 768px) {
        left: 90px;
        bottom: -90px;
    }

    @media (width <= 425px) {
        left: 60px;
        bottom: -65px;
    }
}

.next {
    right: 100px;

    @media (width <= 768px) {
        right: 90px;
        bottom: -90px;
    }

    @media (width <= 425px) {
        right: 60px;
        bottom: -65px;
    }
    
}

.dots {
    position: absolute;
    bottom: -70px;
    display: flex;
    gap: 8px;

    @media (width > 768px) {
        display: none;
    }

    @media (width <= 425px) {
        bottom: -50px;
    }
}

.dot{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: rgb(255 255 255 / 30%);
    transition: .2s ease-in-out;
}

.activeDot{
    background: var(--c-white);
}

